@page "/appentities/delete"
@using Microsoft.EntityFrameworkCore
@using InteractiveServer.Data.Models
@inject IDbContextFactory<InteractiveServer.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>AppEntity</h2>
    <hr />
    @if (appentity is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <EditForm method="post" Model="appentity" OnValidSubmit="DeleteAppEntity" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(appentity is null)">Delete</button> |
            <a href="/appentities">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private AppEntity? appentity;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        appentity = await context.AppEntities.FirstOrDefaultAsync(m => m.Id == Id);

        if (appentity is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteAppEntity()
    {
        using var context = DbFactory.CreateDbContext();
        context.AppEntities.Remove(appentity!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/appentities");
    }
}
